$background: #539e8a;

$color1: #B83158;
$color2: #9BB831;
$color3: #31B891;
$color4: #4E31B8;

$color11: #f3e2df;
$color22: #dff3eb;
$color33: #e5dff3;
$color44: #f3ecdf;

$darkerTan: #f6c5be;

.day{ 
  // color: $darkerTan;
font-weight: 600;
letter-spacing: 0.15em;
margin-bottom:10px;
// text-decoration: underline;
text-underline-offset: 5px;
font-size: 0.8em;
}

.infoWrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    /* line-height: 1.1; */
    font-size: 0.2em;
    font-weight: 700;
    color: black;
    margin-left: 40rem;
    margin-right: 40rem;
    margin-top:100px;
    display: inline-block;
}




  
/* body {
    font-family: monospace;
    font-weight: 700;
    font-size:50px;
    padding:20px;
    background:#005F6B;
    color:#00DFFC
  } */
  
  .type {
    font-size: 0.5em;
    color:#0000;
    background:
      linear-gradient(-90deg,#f3e2df 5px,#0000 0) 10px 0,
      linear-gradient(black 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    -webkit-background-clip:padding-box,text;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    animation: 
     b .7s infinite steps(1),   
     t calc(var(--n)*.02s) steps(var(--n)) forwards;
  }
  
  @keyframes t{
    from {background-size:0 200%}
  }
  @keyframes b{
    50% {background-position:0 -100%,0 0}
  }

  a{
      // color: #f3e2df !important;
      margin-right: 45px;
      font-size: 18px;
  }

  a:hover{
      cursor: pointer;
  }

  .row {
    display: flex;
    
  }
  .colLeft, .colRight {
    flex: 1;
    
    /* just to show you where the columns are */
    /* background-color: #FF5722; */
    min-height: 200px;
  }
  .colMiddle {
    flex: 2;
    /* background-color: #607D8B;  */
  }