$background: #539e8a;

$color1: #B83158;
$color2: #9BB831;
$color3: #31B891;
$color4: #4E31B8;

$color11: #f3e2df;
$color22: #dff3eb;
$color33: #e5dff3;
$color44: #f3ecdf;

$darkerTan: #f6c5be;

.navContainer{
    display: flex;
    flex-direction: column;
}
.burgContainer{
    min-width: 113.5px;
    display: flex;
    justify-content: end;
}

nav {
    width: 100%;
    background: #539e8a;
    font-size: 24px;
    display: flex;
    justify-content: center;
    padding-top:20px;
    /* border-bottom: 1px solid #003638; */
    flex-direction: column;
  }
  
  // nav a {
  //   color: #f6c5be;
  //   padding: 0.25rem;
  //   display: inline-block;
  //   font-size:20px;
  //   font-weight: 700;
  // }

  a {
    display: block;
    animation-name: animateIn;
    animation-duration: 350ms;
    animation-delay: calc(var(--animation-order) * 100ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes animateIn {
    0% {
      opacity: 0;
      transform: scale(0.6) translateY(-8px);
    }
  
    100% {
      opacity: 1;
    }
  }

  .links{
    color: black;
    &:first-child{
      color: $darkerTan;
    }
  }